:root {
        --ic-brand-primary-darkened-5: #8C4141;
--ic-brand-primary-darkened-10: #853E3E;
--ic-brand-primary-darkened-15: #7D3A3A;
--ic-brand-primary-lightened-5: #984D4D;
--ic-brand-primary-lightened-10: #9D5656;
--ic-brand-primary-lightened-15: #A36060;
--ic-brand-button--primary-bgd-darkened-5: #8B3A3E;
--ic-brand-button--primary-bgd-darkened-15: #7D3438;
--ic-brand-button--secondary-bgd-darkened-5: #3D3D3E;
--ic-brand-button--secondary-bgd-darkened-15: #373738;
--ic-brand-font-color-dark-lightened-15: #828385;
--ic-brand-font-color-dark-lightened-30: #98999A;
--ic-link-color-darkened-10: #853E3E;
--ic-link-color-lightened-10: #9D5656;
--ic-brand-primary: #934444;
--ic-brand-font-color-dark: #6D6E70;
--ic-link-color: #934444;
--ic-brand-button--primary-bgd: #923D41;
--ic-brand-button--primary-text: #ffffff;
--ic-brand-button--secondary-bgd: #404041;
--ic-brand-button--secondary-text: #ffffff;
--ic-brand-global-nav-bgd: #923D41;
--ic-brand-global-nav-ic-icon-svg-fill: #ffffff;
--ic-brand-global-nav-ic-icon-svg-fill--active: var(--ic-brand-primary);
--ic-brand-global-nav-menu-item__text-color: #ffffff;
--ic-brand-global-nav-menu-item__text-color--active: var(--ic-link-color);
--ic-brand-global-nav-avatar-border: #ffffff;
--ic-brand-global-nav-menu-item__badge-bgd: #ffffff;
--ic-brand-global-nav-menu-item__badge-bgd--active: var(--ic-brand-primary);
--ic-brand-global-nav-menu-item__badge-text: #000000;
--ic-brand-global-nav-menu-item__badge-text--active: #ffffff;
--ic-brand-global-nav-logo-bgd: #923D41;
--ic-brand-header-image: url('https://instructure-uploads-eu.s3.eu-west-1.amazonaws.com/account_153630000000000001/attachments/658/Ashesi%20logo%20image%20and%20text.png');
--ic-brand-mobile-global-nav-logo: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/mobile-global-nav-logo-aff8453309.svg');
--ic-brand-watermark: ;
--ic-brand-watermark-opacity: 1.0;
--ic-brand-favicon: url('https://instructure-uploads-eu.s3.eu-west-1.amazonaws.com/account_153630000000000001/attachments/656/ash_favicon.ico');
--ic-brand-apple-touch-icon: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/apple-touch-icon-585e5d997d.png');
--ic-brand-msapplication-tile-color: var(--ic-brand-primary);
--ic-brand-msapplication-tile-square: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/windows-tile-eda8889e7b.png');
--ic-brand-msapplication-tile-wide: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/windows-tile-wide-44d3cc1060.png');
--ic-brand-right-sidebar-logo: ;
--ic-brand-Login-body-bgd-color: #923D41;
--ic-brand-Login-body-bgd-image: ;
--ic-brand-Login-body-bgd-shadow-color: #2D3B45;
--ic-brand-Login-logo: url('https://instructure-uploads-eu.s3.eu-west-1.amazonaws.com/account_153630000000000001/attachments/659/ashesiLogo%20long.png');
--ic-brand-Login-Content-bgd-color: none;
--ic-brand-Login-Content-border-color: none;
--ic-brand-Login-Content-inner-bgd: none;
--ic-brand-Login-Content-inner-border: none;
--ic-brand-Login-Content-inner-body-bgd: none;
--ic-brand-Login-Content-inner-body-border: none;
--ic-brand-Login-Content-label-text-color: #ffffff;
--ic-brand-Login-Content-password-text-color: #ffffff;
--ic-brand-Login-footer-link-color: #ffffff;
--ic-brand-Login-footer-link-color-hover: #ffffff;
--ic-brand-Login-instructure-logo: #ffffff;
      }